<div class="modal-content">
    <div class="modal-header">
        <h4>{{title}}</h4>
    </div>
   <div class="modal-body">
        <p>Name: {{ userDetails.name || ""}}</p>
        <p>Phone: {{ userDetails.phone || "" }}</p>
        <p>Website: {{ userDetails.website || "" }}</p>
        <p>Company name: {{ userDetails.companyName || "" }}</p>
        <agm-map [latitude]="userDetails.latitude" [zoom]="1" [longitude]="userDetails.longitude">
            <agm-marker [latitude]="userDetails.latitude" [longitude]="userDetails.longitude" ></agm-marker>
        </agm-map>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">OK</button>
    </div>
</div>